# AMSA: Naive Bayes Classification

## Relevant libraries

In [1]:
import pandas as pd

/Users/hiimpian/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Data importing

In [6]:
default_train_complete = pd.read_csv('../data/default_train_complete.csv').drop(columns = ['LoanID'])
X_train = default_train_complete.drop(columns = ['Default'])
y_train = pd.DataFrame(default_train_complete['Default'])

In [7]:
default_train_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41514 entries, 0 to 41513
Data columns (total 47 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age                                   41514 non-null  int64
 1   Income                                41514 non-null  int64
 2   LoanAmount                            41514 non-null  int64
 3   CreditScore                           41514 non-null  int64
 4   MonthsEmployed                        41514 non-null  int64
 5   NumCreditLines                        41514 non-null  int64
 6   InterestRate                          41514 non-null  float64
 7   LoanTerm                              41514 non-null  int64
 8   DTIRatio                              41514 non-null  float64
 9   Education                             41514 non-null  object
 10  EmploymentType                        41514 non-null  object
 11  MaritalStatus                         41514 non-null  object
 12  HasMortgage                           41514 non-null  object
 13  HasDependents                         41514 non-null  object
 14  LoanPurpose                           41514 non-null  object
 15  HasCoSigner                           41514 non-null  object
 16  Default                               41514 non-null  int64
 17  Education_and_EmploymentType          41514 non-null  object
 18  Education_and_MaritalStatus           41514 non-null  object
 19  Education_and_HasMortgage             41514 non-null  object
 20  EmploymentType_and_MaritalStatus      41514 non-null  object
 21  EmploymentType_and_HasMortgage        41514 non-null  object
 22  MaritalStatus_and_HasMortgage         41514 non-null  object
 23  LoanAmount_to_Income                  41514 non-null  float64
 24  SimpleInterest                        41514 non-null  float64
 25  Debt                                  41514 non-null  float64
 26  MonthlyLoanAmount                     41514 non-null  float64
 27  AverageIncome_Education               41514 non-null  float64
 28  AverageIncome_EmploymentType          41514 non-null  float64
 29  AverageIncome_MaritalStatus           41514 non-null  float64
 30  AverageIncome_LoanPurpose             41514 non-null  float64
 31  AverageLoanAmount_Education           41514 non-null  float64
 32  AverageLoanAmount_EmploymentType      41514 non-null  float64
 33  AverageLoanAmount_MaritalStatus       41514 non-null  float64
 34  AverageLoanAmount_LoanPurpose         41514 non-null  float64
 35  AverageCreditScore_Education          41514 non-null  float64
 36  AverageCreditScore_EmploymentType     41514 non-null  float64
 37  AverageCreditScore_MaritalStatus      41514 non-null  float64
 38  AverageCreditScore_LoanPurpose        41514 non-null  float64
 39  AverageAge_Education                  41514 non-null  float64
 40  AverageAge_EmploymentType             41514 non-null  float64
 41  AverageAge_MaritalStatus              41514 non-null  float64
 42  AverageAge_LoanPurpose                41514 non-null  float64
 43  AverageNumCreditLines_Education       41514 non-null  float64
 44  AverageNumCreditLines_EmploymentType  41514 non-null  float64
 45  AverageNumCreditLines_MaritalStatus   41514 non-null  float64
 46  AverageNumCreditLines_LoanPurpose     41514 non-null  float64
dtypes: float64(26), int64(8), object(13)
memory usage: 14.9+ MB

In [8]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41514 entries, 0 to 41513
Data columns (total 46 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age                                   41514 non-null  int64
 1   Income                                41514 non-null  int64
 2   LoanAmount                            41514 non-null  int64
 3   CreditScore                           41514 non-null  int64
 4   MonthsEmployed                        41514 non-null  int64
 5   NumCreditLines                        41514 non-null  int64
 6   InterestRate                          41514 non-null  float64
 7   LoanTerm                              41514 non-null  int64
 8   DTIRatio                              41514 non-null  float64
 9   Education                             41514 non-null  object
 10  EmploymentType                        41514 non-null  object
 11  MaritalStatus                         41514 non-null  object
 12  HasMortgage                           41514 non-null  object
 13  HasDependents                         41514 non-null  object
 14  LoanPurpose                           41514 non-null  object
 15  HasCoSigner                           41514 non-null  object
 16  Education_and_EmploymentType          41514 non-null  object
 17  Education_and_MaritalStatus           41514 non-null  object
 18  Education_and_HasMortgage             41514 non-null  object
 19  EmploymentType_and_MaritalStatus      41514 non-null  object
 20  EmploymentType_and_HasMortgage        41514 non-null  object
 21  MaritalStatus_and_HasMortgage         41514 non-null  object
 22  LoanAmount_to_Income                  41514 non-null  float64
 23  SimpleInterest                        41514 non-null  float64
 24  Debt                                  41514 non-null  float64
 25  MonthlyLoanAmount                     41514 non-null  float64
 26  AverageIncome_Education               41514 non-null  float64
 27  AverageIncome_EmploymentType          41514 non-null  float64
 28  AverageIncome_MaritalStatus           41514 non-null  float64
 29  AverageIncome_LoanPurpose             41514 non-null  float64
 30  AverageLoanAmount_Education           41514 non-null  float64
 31  AverageLoanAmount_EmploymentType      41514 non-null  float64
 32  AverageLoanAmount_MaritalStatus       41514 non-null  float64
 33  AverageLoanAmount_LoanPurpose         41514 non-null  float64
 34  AverageCreditScore_Education          41514 non-null  float64
 35  AverageCreditScore_EmploymentType     41514 non-null  float64
 36  AverageCreditScore_MaritalStatus      41514 non-null  float64
 37  AverageCreditScore_LoanPurpose        41514 non-null  float64
 38  AverageAge_Education                  41514 non-null  float64
 39  AverageAge_EmploymentType             41514 non-null  float64
 40  AverageAge_MaritalStatus              41514 non-null  float64
 41  AverageAge_LoanPurpose                41514 non-null  float64
 42  AverageNumCreditLines_Education       41514 non-null  float64
 43  AverageNumCreditLines_EmploymentType  41514 non-null  float64
 44  AverageNumCreditLines_MaritalStatus   41514 non-null  float64
 45  AverageNumCreditLines_LoanPurpose     41514 non-null  float64
dtypes: float64(26), int64(7), object(13)
memory usage: 14.6+ MB

In [9]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41514 entries, 0 to 41513
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Default  41514 non-null  int64
dtypes: int64(1)
memory usage: 324.5 KB